<% valid_search = true %>
<% unless params[:level].values.all? {|val| val.empty? } %>
  <% warning, valid_search = count_questions_by_level(@questions, params[:level]) %>
  <%= raw warning.join(" ") %>
<% end %>

<% unless valid_search %>
  <br /><span class = "error"> <b>Warning:</b> Please modify your search</span>
<% end %>

<h2 align ="center"><%= params[:name] %></h2>

<% unless params[:instructions].empty? %>
  <p id = "for_inst"><b>Instructions::</b></p>
  <p id = "for_inst_body">
    <% params[:instructions].split(/\n/).each do |inst| %>
      <%= inst %><br/>
    <% end %>
  </p>
<% end %>

<% unless @questions.empty? %>

  <% questions_per_pages = @questions.in_groups_of(10, false) %>
  <% questions_per_pages.each_with_index do |questions_per_page, index| %>
    <div id = "<%= index+1 %>" class = "pages<%= ' hide' unless index == 0 %>">
    <% questions_per_page.each_with_index do |question, i| %>
    
      <div class = "show_question <%= cycle('list_line_odd', 'list_line_even') %>" style="padding:5px">
        <p class = "title_ques float_left" style = "margin:0">
					<b><%= ques_number(index, i) %>. </b><%= truncate(question.body, :length => 50) %>
				</p>
    
        <div class = "float_right">
          <%= link_to 'Show', show_fetch_ques_question_path(question), :rel => "facebox" %>
        </div><br/>
      </div>
    <% end %>
    </div>
  <% end %>
  
  <% if questions_per_pages.length > 1 %>
  
    <div class = 'pagination'>
      <%= link_to_function '← Previous', "previous_page()", :id => 'previous', :class => 'hide' %>
      <% i = 0 %>
      <% until i == questions_per_pages.length %>
        <%= link_to_function i+1, "paging(#{i+1}, this)", :class => "page_links #{'current' if i+1 == 1}" %>
        <% i += 1 %>
      <% end %>

      <%= link_to_function 'Next →', 'next_page()', :id => 'next' %>
    </div><br />
    
  <% end %>
  
<% else %>
  <p align = "center" class = "error">
		No Question found under this search
	</p>
<% end %>

<% make_doc(params[:name], params[:instructions], @questions, params[:sets]) %>

<% if valid_search %>
  <div align="center">
    <% test_name = params[:name].gsub(/\s+/,"_") %>
    <%= link_to "Download Sets", download_questions_path(test_name) %>
  </div>
<% end %>

<script>
jQuery(document).ready(function($) {
  $('a[rel*=facebox]').facebox()
})
</script>
