<% content_for(:js_css) do %>
	<%= stylesheet_link_tag 'ques_form' %>
<% end %>

<%= form_for(@question, :as => :question) do |f| %>
  
  <%= render "question", :f => f %>
  
  <%= f.hidden_field :admin_id, :value => session[:admin_id] %>
  
  <div class="actions">
    
    <% if @question.new_record? %>
      <%= f.submit 'Create Question', :onclick => 'map_tags_and_type()' %>
    <% else %>
      <%= f.submit 'Update Question', :onclick => 'map_tags_and_type()' %>
    <% end %>
    
  </div>
  
<% end %>


<script>

  $(document).ready(change_answer_div("<%= @type %>"));

  function change_answer_div(val) {
    if ("<%= !@question.new_record? %>") {
      var id = "<%= params[:id] %>";
    } else {
      var id = null;
    }
    if (val == "Subjective") {
      $("#for_option").addClass("hide");
      $("#for_option_error").addClass("hide");
      //$('#for_sub').removeClass('hide');
    } else {
      $("#for_option").removeClass("hide");
      $("#for_option_error").removeClass("hide");
      //$('#for_sub').addClass('hide');
    }
     $.ajax({
      url: '<%= change_answer_div_questions_path %>', 
      dataType: 'script',
      type: 'get', 
      data: 'type='+val+"&id="+id
    });
  }

$("#question_tag").autoSuggest("/questions/ques_tags.js", {minChars: 1, matchCase: false, searchObjProps: "name", startText: "Enter Tags Here", asHtmlID:"tags",  neverSubmit: true, preFill: "<%= @question.tag_list %>"});

</script>
