<% content_for(:js_css) do %>
	<%= stylesheet_link_tag 'ques_form' %>
	<%= javascript_include_tag '' %>
<% end %>

<%= form_for(@question, :as => :question) do |f| %>
  
  <%= render "question", :f => f %>
  
  <%= f.hidden_field :admin_id, :value => session[:admin_id] %>
  
  <div class="actions">
    
    <% if @question.new_record? %>
      <%= f.submit 'Create Question', :onclick => 'map_tags_and_type()' %>
    <% else %>
      <%= f.submit 'Update Question', :onclick => 'map_tags_and_type()' %>
    <% end %>
    
  </div>
  
<% end %>


<script>

function map_tags_and_type() {
  var ques_tags = $(".as-selection-item");
  var tags = [];
  for(var i = 0;i < ques_tags.length; i++) {
    tags.push($(ques_tags[i]).text().slice(1));
  }
  $("#as-values-tags").val(tags);
}

function get_type() {
  var types = $("input[name$='[type]']");
  for(var i = 0; i <= types.length; i++) {
    if($(types[i]).attr('checked') == 'checked') {
      return $(types[i]).val();
    }
  }  
}

$("#question_submit").bind('click', map_answers);
$("#question_submit").bind('click', destroy_waste_options);

function map_answers() {
  if(get_type() == "MultipleChoice") {
    var ans = $("input[name='answer']");
  } else if(get_type() == "MultipleChoiceAnswer") {
    var ans = $("input[id^='answer_']");
  }
  for(var i = 0; i<= ans.length; i++) {
    if($(ans[i]).is(':checked')) {
      var val = $(ans[i]).attr('value');
      $('#question_options_attributes_'+val+'_answer').attr('value', true);
    }
  }
}

function destroy_waste_options() {
  if(get_type() != "Subjective") {
    var hidden_ids = $("input[id^='question_options_'][id$='_id'][type='hidden']");
    for(var i = 0; i < hidden_ids.length; i++) {
      var body = hidden_ids[i].id.replace("id", "body");
      if($('#'+body).val() == "") {
        var destroy_id = body.replace("body", "_destroy");
        document.getElementById(destroy_id).value = "1";
      }
    }
  }
}

$(document).ready(change_answer_div("<%= @type %>"));

function change_answer_div(val) {
  if ("<%= !@question.new_record? %>") {
    var id = "<%= params[:id] %>";
  } else {
    var id = null;
  }
  if (val == "Subjective") {
    $("#for_option").addClass("hide");
    $("#for_option_error").addClass("hide");
  } else {
    $("#for_option").removeClass("hide");
    $("#for_option_error").removeClass("hide");
  }
   $.ajax({
    url: '<%= change_answer_div_questions_path %>', 
    dataType: 'script',
    type: 'get', 
    data: 'type='+val+"&id="+id
  });
}

$("#question_tag").autoSuggest("/questions/ques_tags.js", {minChars: 1, matchCase: false, searchObjProps: "name", startText: "Enter Tags Here", asHtmlID:"tags",  neverSubmit: true, preFill: "<%= @question.tag_list %>"});

</script>
