<script>

</script>

<% content_for(:js_css) do %>
<%= stylesheet_link_tag 'ques_form' %>
<%= javascript_include_tag '' %>
<% end %>

<%= form_for(@question) do |f| %>

    <%= render "question", :f => f %>

  <div class="actions">
    <%= f.submit 'Create Question', :onclick => 'map_tags()' %>
  </div>
<% end %>


<script>

function map_tags() {
  var ques_tags = $(".as-selection-item");
  var tags = [];
  for(var i = 0;i < ques_tags.length; i++) {
    tags.push($(ques_tags[i]).text().slice(1));
  }
  $("#as-values-tags").val(tags)
}

$("#question_submit").bind('click', map_answers);
$("#question_submit").bind('click', destroy_waste_options);
$("#question_submit").bind('click', destroy_waste_answers);

function map_answers() {
  var opts = $("input[id^='question_options_'][type!='hidden']");
  if(opts.length > 0) {
    var ans = $("input[id^='question_answers_'][type!='hidden']");
    for(var i = 0; i<ans.length; i++) {
      var id = "question_options_attributes_"+ans[i].value+"_body";
      ans[i].value = document.getElementById(id).value;
    }
  }
}

function destroy_waste_options() {
  var opts = $("input[id^='question_options_'][type!='hidden']");
  for(var i = 0; i < opts.length; i++) {
    var hidden_id = opts[i].id.replace("body", "id");
    if(document.getElementById(hidden_id) && opts[i].value == "") {
      var destroy_id = hidden_id.replace("id", "_destroy");
      document.getElementById(destroy_id).value = "1";
    }
  }
}

function destroy_waste_answers() {
  var ans = $("input[id^='question_answers_'][type!='hidden']");
  for(var i = 0; i < ans.length; i++) {
    var hidden_id = ans[i].id.replace("body", "id");
    if(document.getElementById(hidden_id) && !ans[i].checked) {
      var destroy_id = hidden_id.replace("id", "_destroy");
      document.getElementById(destroy_id).value = "1";
    }
  }
}

$(document).ready(change_answer_div("<%= @type %>"));

function change_answer_div(val) {
  if ("<%= !@question.new_record? %>") {
    var id = "<%= params[:id] %>";
  } else {
    var id = null;
  }
  if (val == "Subjective") {
    $("#for_option").addClass("hide");
    $("#for_option_error").addClass("hide");
  } else {
    $("#for_option").removeClass("hide");
    $("#for_option_error").removeClass("hide");
  }
   $.ajax({
    url: '<%= change_answer_div_questions_path %>', 
    dataType: 'script',
    type: 'get', 
    data: 'type='+val+"&id="+id
  });
}

$("#question_tag").autoSuggest("/questions/ques_tags.js", {minChars: 1, matchCase: false, searchObjProps: "name", startText: "Enter Tags Here", asHtmlID:"tags",  neverSubmit: true, preFill: "<%= @question.tag_list %>"});

</script>
