<% unless @questions.empty? %>

  <% @questions.each do |question| %>
  
    <div class = "show_question <%= cycle('list_line_odd', 'list_line_even') %>">
    
      <p class = "title_ques float_left" style = "margin-bottom:10px">
				<b>Question: </b><%= truncate(question.body, :length => 180) %>
			</p>
      
      <% if question.provider %>
        <p class = "float_right" style = "margin: 30px 10px 10px 0">
				<b>Provider: </b><%= question.provider %></p>
      <% end %>
      <br />
      
      <%= render "extras", :question => question %>
            
      <div class = "ques_links">
      
        <%= link_to 'Show', question %> |
        <%= link_to 'Edit', edit_question_path(question) %> |
        <%= link_to 'Destroy', question_path(question), :confirm => 'Are you sure?', :method => :delete %>
        
      </div><br />
    </div>
  <% end %>
  
<% else %>
  <p align = "center" class = "error">
		No Question found for this search
		<!-- Add question link -->
	</p>
<% end %>

<br />

<%= will_paginate @questions %>
