<% unless @questions.empty? %>
  <% for_ques_bullet = params[:page] ? (params[:page].to_i-1)*10 : 0 %>
  <% @questions.each_with_index do |question, index| %>

    <div class = "show_question <%= cycle('list_line_odd', 'list_line_even') %>" style="padding:5px">
  
      <p class = "title_ques float_left" style = "margin:0"><b><%= index+1+for_ques_bullet %>. </b><%= truncate(question.body, :length => 50) %></p>
  
      <div class = "float_right">
        <%= link_to 'Show', show_fetch_ques_question_path(question), :rel => "facebox" %>
      </div><br/>
  
    </div>
    
  <% end %>
  
<% else %>

  <p align = "center" class = "error">No Question found under this search</p>

<% end %>

<%= will_paginate @questions %>

<script>
$('.pagination a').attr('data-remote', 'true');

jQuery(document).ready(function($) {
  $('a[rel*=facebox]').facebox()
})
</script>
