<div id = "form_left">
  
  <div class="field">
    <span class = "label_bold">
		<%= mark_required(@question, :body) %>
		<%= f.label :body, 'Question?' %></span>&nbsp;&nbsp;
		
		<span class='error'> <%= get_error(@question, :body) %></span><br/>
    <%= f.text_area :body, :rows => 5, :cols => 70 %>
  </div>

  <div class="field">
    <span class = "label_bold">
			<%= mark_required(@question, :type) %>
			<%= f.label :type, "Type" %>
		</span><br/>
    
    <% TYPE.each do |type| %>
      <%= f.radio_button :type, type, :checked => @type ? @type == type : type == TYPE[0], :onclick => "change_answer_div(this.value)" %>
      <%= f.label :type, type.titleize %> &nbsp;
    <% end %>
  </div>
  
  <div>
    <span id = "for_option" class = "hide label_bold"> *Options </span>
    <span class = "label_bold">*Answer</span>&nbsp;&nbsp;
		<span class='error'><%= get_error(@question, :answers) %></span>
		<scan class='error' id = "for_sub"><%= get_error(@question, :'options.body') %></span>
  </div>

  <div id = "for_option_error">
		<span class='error'><%= get_error(@question, :options) %></span>
		<scan class='error'><%= get_error(@question, :'options.body') %></span>
	</div>
  
  <div class="field" id = "answer_type">
  	<%= render @type.underscore %>
  </div>
  
  <div class="field">
    <span class = "label_bold"><%= f.label :tag %></span>&nbsp;&nbsp;
    <%= f.text_field :tag, :value => @question.tag_list %><span class='error'><%= get_error(@question, :tag) %></span>
  </div>
  
</div>

<div id = "form_right">

  <div class="field" id = "ques_category">
    <%= mark_required(@question, :category_id) %><%= label_tag "question_category_id", "Category" %>
		<span class='error'> <%= get_error(@question, :category_id) %></span> <br/>
		
    <%= f.select :category_id, Category.all.collect {|c| [c.name, c.id]}, {:prompt => 'Select--'} %>
  </div>

  <div class="field" id = "ques_level">
    <%= mark_required(@question, :level) %>
		<%= f.label :level %><span class='error'> <%= get_error(@question, :level) %></span> <br/>
    <%= f.select :level, LEVEL, {:prompt => 'Select--'} %>
  </div>
  
  <div class = "field" id = "provide">
    <%= f.label :provider, "Provided by:" %><br />
    <%= f.text_field :provider, :size => 25 %>
  </div>
  
</div><br/>
