<div id = "form_left">
  
  <div class="field">
    <span class = "label_bold"><%= f.label :body, 'Question?' %></span>&nbsp;&nbsp;<span class='error'><%= get_error(@question, :body) %></span><br/>
    <%= f.text_area :body, :rows => 5, :cols => 70 %>
  </div>

  <div class="field">
    <span class = "label_bold"><%= f.label :ques_type, "Type" %></span><br/>
    <% Question::TYPE.each do |key, type| %>
      <%= f.radio_button :ques_type, type, :checked => @type == type, :onclick => "change_answer_div(this.value)" %>
      <%= f.label "ques_type_" + key.to_s, type %>&nbsp;
    <% end %>
  </div>
  
  <div>
    <span id = "for_option" class = "hide label_bold" style = "padding-right: 150px;"> Options &nbsp;&nbsp; </span>
    <span class = "label_bold">Answer</span>&nbsp;&nbsp;<span class="error"><%= flash[:answer_error] if flash[:answer_error] %></span>
  </div>

  <div id = "for_option_error" ><span class="error"><%= flash[:option_error] if flash[:option_error] %></span></div>

  <div class="field" id = "answer_type">
    
  </div>
  <div class="field">
    <span class = "label_bold"><%= f.label :tag %></span>&nbsp;&nbsp;
    <%= f.text_field :tag, :value => @question.tag_list %><span class='error'><%= get_error(@question, :tag) %></span>
  </div>
</div>

<div id = "form_right">
  <div class="field" id = "ques_category">
    <span class='error'> <%= get_error(@question, :category_id) %></span><br/>
    <%= f.label :category_id %> <br/>
    <%= f.select :category_id, Category.all.collect {|c| [c.name, c.id]} %>
  </div>

  <div class="field" id = "ques_level">
    <span class='error'> <%= get_error(@question, :level) %></span><br/>
    <%= f.label :level %> <br/>
    <%= f.select :level, Question::LEVEL %>
  </div>
  
  <div class = "field" id = "provide">
    <%= f.label :provider, "Provided by:" %><br />
    <%= f.text_field :provider, :size => 25 %>
  </div>
</div><br/>
