
<%# sets = [] %>
<% if params[:level] %>
  <% questions,beg,int,mast = count_questions_by_level(@questions.dup, params[:level]) %>
<% else %>
  <% questions = @questions %>
<% end %>

<h2 align ="center"><%= params[:name].capitalize %></h2>
<% if params[:instructions] %>
  <p style="margin-bottom:0"><b>Instructions::</b><pre style="margin-top:2px"><%= params[:instructions] %></pre></p>
<% end %>
<% questions.each_with_index do |question, index| %>
  <div class = "show_question <%= cycle('list_line_odd', 'list_line_even') %>" style="padding:5px">
    <p class = "title_ques" style = "float:left;margin:0"><b><%= index+1 %>. </b><%= question.body %></p>
    <div style="float:right">
      <%= link_to 'Show', show_fetch_ques_questions_path(question), :rel => "facebox" %>
    </div><br/>
  </div>
<% end %>

<% make_doc(params[:name], params[:instructions], questions, params[:sets]) %>

<div align="center">
  <% test_name = params[:name].gsub(/\s+/,"_") %>
  <%= link_to "Sets", download_questions_path(test_name) %>
</div>

<script>
jQuery(document).ready(function($) {
  $('a[rel*=facebox]').facebox()
})
</script>
