<!-- please clean the code -->
<%# unless params[:level].select {|a,b| !b.empty? }.empty? %>
  <%# questions, beg, int, mast = count_questions_by_level(@questions.dup, params[:level]) %>
<%# else %>
  <%# questions = @questions %>
<%# end %>

<% valid_search = true %>

<% params[:level].each do |l_i, l| %>

  <% unless l.empty? %>

    <% if l_i == "0" && l.to_i > @beg %>
      <span class = "error"><b>Beginner::</b> <%= @beg.to_s+"/"+l %> &nbsp;&nbsp; </span>
      <% valid_search = false %>
    <% end %>

    <% if l_i == "1" && l.to_i > @int %>
      <span class = "error"><b>Intermediate::</b> <%= @int.to_s+"/"+l %> &nbsp;&nbsp; </span>
      <% valid_search = false %>
    <% end %>

    <% if l_i == "2" && l.to_i > @mast %>
      <span class = "error"><b>Master::</b> <%= @mast.to_s+"/"+l %> &nbsp;&nbsp; </span>
      <% valid_search = false %>
    <% end %>

  <% end %>

<% end %>

<% unless valid_search %>
  <br /><span class = "error"> <b>Warning:</b> Please modify your search</span>
<% end %>

<h2 align ="center"><%= params[:name] %></h2>

<% unless params[:instructions].empty? %>

  <p style="margin-bottom:0"><b>Instructions::</b>
  
    <p style="margin-top:2px">
      <% params[:instructions].split(/\n/).each do |inst| %>
        <%= inst %><br/>
      <% end %>
    </p>
  
  </p>
  
<% end %>

<div id="page_ques">

</div>

<% make_doc(params[:name], params[:instructions], @all_questions, params[:sets]) %>

<% if valid_search %>

  <div align="center">
    <% test_name = params[:name].gsub(/\s+/,"_") %>
    <%= link_to "Download Sets", download_questions_path(test_name) %>
  </div>

<% end %>

