<h1>Listing questions</h1>

<table>
  <tr>
    <th>Body</th>
    <th>Level</th>
    <th>Category</th>
    <th>Admin</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.body %></td>
    <td><%= question.level %></td>
    <td><%= question.category_id %></td>
    <td><%= question.admin_id %></td>
    <td><%= question.type %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
