<% content_for(:js_css) do %>
  <%= stylesheet_link_tag 'make_test' %>
  <%= javascript_include_tag 'make_test' %>
<% end %>
<div id = "form_left">

  <h2>Prepare a Test</h2>
	
  <%= form_tag(fetch_questions_path, :remote => true, :method => :get) do %>

    <div class="field">
      <p><b>*<%= label_tag :name %></b>&nbsp;&nbsp;
			<%= text_field_tag :name %>			
			<span class = "error" id = "error1"></span> </p>
    </div>

    <div class="field">
      <p><b>*<%= label_tag :instructions %></b>&nbsp;&nbsp;
				<span class = "error" id = "error4"></span></p>
      <%= text_area_tag :instructions, nil, :rows => 3, :cols => 48 %>
    </div>
        
    <div class="field">
      <p><b><%= label_tag :tag, 'Tags to select Questions' %></b></p>
      <%= text_field_tag :tag %>
    </div>
    
    <div id = "type_cat">

      <div class="field float_left">
				<p><b><%= label_tag :type %></b></p>

				<% TYPE.each do |type| %>
          <p><%= check_box_tag "type[#{type.underscore}]", type %> 
					<%= label_tag 'type_'+type.underscore, type.titleize %></p>
        <% end %>
      </div>
      
      <div class="field float_right" id = "ques_category">
        <p><b><%= label_tag :category_id %></b></p>
      
        <%= select :category_id, nil, options_for_select(Category.all.collect {|c| [c.name, c.id]}), :prompt => "Select a category--" %><br />
      
        <span class = "error" id = "error5"></span>
      </div><br/>
      
    </div>

    <div id = "level_sets">

      <div class="field float_left" id = "ques_level">
        <p><b><%= label_tag :level, 'No. of Questions/Level' %></b>&nbsp;&nbsp;<br /><span class = "error" id = "error3"></span></p>

        <table>

        <% LEVEL.each do |level| %>
          <tr>
            <td><p><%= label_tag "level_#{level[1]}", level[0] %></p></td>
            <td><%= text_field_tag "level[#{level[1]}]",nil , :size => '2' %></td>
          </tr>
        <% end %>

        </table>

      </div>

      <div class="field float_right">
        <p><b>*<%= label_tag :sets, "No. of Sets" %></b>&nbsp;&nbsp;

				 <%= text_field_tag :sets, nil, :size => 1 %></p>

        <span class = "error" id = "error2"></span>
      </div><br/>

    </div>
    
		<div class = "float_right">

			<%= submit_tag 'Generate', :onclick => "return ques_validations()" %>

		</div><br/>

  <% end %>  

</div>

<div id = "form_right">
  <div id = "fetched_ques">
    <h2 align="center">Fetch Questions</h2>
  </div>

</div>

<br/>

<script>
  $("#tag").autoSuggest("/questions/ques_tags.js", {minChars: 1, matchCase: false, searchObjProps: "name", startText: "Enter Tags Here", asHtmlID:"tags",  neverSubmit: true });
</script>
