<p id="notice"><%= notice %></p>

<div class = "show_question">

  <%= render "show_ques_partial" %>

		<div class = "ques_links">
			<%= link_to 'Edit', edit_question_path(@question) %> |
			<%= link_to 'New', new_question_path %> |
			<%= link_to 'Back', :back %>

		</div><br />
	</div>
